body {
    overflow-x: hidden;
}
// media querie mobile
/*media querie mobile*/ 
.contactoGrid {
    display: grid;
    grid-template-areas:
    "titulo"
    "formulario"
    "ubicacion";
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    .titulo {
        grid-area: titulo;
    }
    .formulario1 {
        margin: 0 2rem ;
        grid-area: formulario;
        text-align: left;
    }
    .ubicacion {
    grid-area: ubicacion;
    text-align: center;
    padding-top: 2rem;
    .direccion {
        padding-top: 3rem;
        h3 {
            font-size: 1rem;
        }
        p {
            text-align: center;
            font-size: 0.8rem;
        }
    }
    .h2ubicacion {
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
        letter-spacing: 2px;
        color: #057f97;
    }
    }
    iframe {
        padding-top: 2rem;
        width: 80%;
        border-radius: 3rem;
    }

}
//media querie tablet
/* media querie tablet*/

@media only screen and (min-width:800px) {
    .contactoGrid {
        display: grid;
        grid-template-areas:
        "titulo"
        "formulario"
         "ubicacion";
        justify-content: center;
        display: flex;
        flex-flow: column nowrap;
        .titulo {
            grid-area: titulo;
            letter-spacing: 3px;
        }
        .formulario1 {
            margin: 2.5rem;
            grid-area: formulario;
            text-align: left;
        }
        .ubicacion {
        grid-area: ubicacion;
        text-align: center;
        padding-top: 2rem;
        .direccion {
            padding: 0;
            h3 {
                font-size: 1.4rem;
            }
            p {
                padding: 0;
            }

        }
        .h2ubicacion {
            font-size: 2.3rem;
            padding: 0 1rem 0 1rem;
            background-color: #d5f3f9;
        }
        }
        iframe {
            padding-top: 2rem;
            width: 60%;
            border-radius: 3rem;
        }
    
    }

}
// media para desktop
/*media querie desktop*/

@media only screen and (min-width:1024px) {

    .contactoGrid {
        display: grid;
        grid-template-areas: 
        "titulo titulo"
        "formulario ubicacion";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-content: center;

    }
    .titulo {
        grid-area: titulo;
        h1 {
            font-size: 3.7rem;
            letter-spacing: 5px;
        }
        
    }
    .formulario1 {
        grid-area: formulario;
        padding-top: 5rem;
        width: 90%;
    }
    .ubicacion {
        grid-area: ubicacion;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .h2ubicacion {
        font-size: 1px;
    }
    .direccion {
        padding-top: 1rem;
        p {
            text-align: center;
            padding-right: 2rem;
        }
    }

 





}