
body {
   overflow-x: hidden;
}
.divIndex {
    background-color: #d5f3f9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 15rem;
    padding-top: 5rem;
    .titulo {
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-weight: 1900;
        letter-spacing: 6px;
        background-color: #d5f3f9;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .subtituloQuiro {
        text-align: center;
        padding: 20px;
        letter-spacing: 10px;
        padding-bottom: 4rem;
    }
    .parrafoConsulta {
        text-align: center;
        text-decoration: none;
    }
}

.sectionNosotros {
    background-color: #d5f3f9;
    padding-bottom: 3rem;
    .divNosotros {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .divHijo {
        justify-self: center;
    }
    .subtituloNosotros {
        text-align: center;
        padding: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2rem;

    }
    .parrafoQuiro {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:darkslategray;
        font-family: 'Roboto', sans-serif; 
        font-size: 18px;
        letter-spacing: 1px;
        text-align: justify;
        font-style: italic;
        padding-top: 1px;
    }
    .leerMas {
        text-align: center;
        padding-top: 20px;
    }
    .divHijo2 {
        padding-top: 80px;
        text-align: center;
        img {
            width: 70%;

        }
    }
}

#ventajas {
    background-color: #d5f3f9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    .ventajasTitulo {
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
        letter-spacing: 2px;
        opacity: 0.7;
    }
    .divVentajas {
        text-align: center;
    }
    .li1, .li2,.li3,.li4 {
        justify-self: center;
        padding: 30px 8px 6px 8px;
        list-style: none;

    }

}

.salasIndex {
    text-align: center;
    padding: 5rem;
    .imagenSalas {
        text-align: center;
        img {
            width:80%;
        border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        border: solid #00b4d8;
        }
    
    }
    .linkSalas {
        font-size: 12px;
    }
    

}

//media querie desktop
/*media querie desktop*/ 

@media only screen and (min-width: 1024px) {
    .li1, .li2,.li3,.li4 {
        justify-self: center;
        padding: 30px 8px 6px 8px;
        list-style: none;
        font-size: 1.5rem;

    }
    .ventajasTitulo {
        text-align: center;
        padding-bottom: 10px;
        font-size: 5rem;
        letter-spacing: 2px;
        opacity: 0.7;
    }
    .divIndex .titulo {
        font-size: 3rem;
    }
    .divHijo2 {
        padding-top: 80px;
      .imgNosotros {
          width: 10%;
      }
    }
   #ventajas .ventajasTitulo {
        font-size: 3rem;
    }


}