
body {
   overflow-x: hidden;
   width: 100vw;
}

//mobile 

.divIndex {
    background-color: #d5f3f9;
    padding-bottom: 15rem;
    padding-top: 5rem;
    .titulo {
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
        font-weight: 1900;
        letter-spacing: 6px;
        background-color: #d5f3f9;
    }
    .subtituloQuiro{
        text-align: center;
        padding: 20px;
        letter-spacing: 10px;
        padding-bottom: 4rem;
    }
    .parrafoConsulta {
        text-align: center;
        text-decoration: none;
    }
}

.sectionNosotros {
    background-color: #d5f3f9;
    padding-bottom: 3rem;
    .divNosotros {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .divHijo {
        justify-self: center;
    }
    .subtituloNosotros, .subtituloNosotrosQ {
        text-align: center;
        padding: 10px;
        font-size: 2rem;
    }

    .parrafoQuiro {
     font-family: 'Roboto', sans-serif; 
    }
    .leerMas {
        text-align: center;
        padding-top: 20px;
    }
    .divHijo2 {
        padding-top: 80px;
        text-align: center;
        img {
            width: 70%;
        }
    }
}

#ventajas {
    background-color: #d5f3f9;
    .ventajasTitulo {
        text-align: center;
        padding-bottom: 10px;
        font-size: 30px;
        letter-spacing: 2px;
        color: #057f97;
    }
    .divVentajas {
        text-align: center;
    }
    h4{
        color: #057f97;
    }
    .li1, .li2,.li3,.li4 {
        justify-self: center;
        padding: 2rem;
        margin: 2rem;
        list-style: none;
        border-radius: 38px 38px 38px 38px;
        -moz-border-radius: 38px 38px 38px 38px;
        -webkit-border-radius: 38px 38px 38px 38px;
        border: solid 5px #00b4d8;
    }

}

.salasIndex {
    text-align: center;
    padding: 5rem;
    .imagenSalas {
        text-align: center;  
    }
    .linkSalas {
        font-size: 12px;
    }
}
// tablet

/*media querie tablet*/ 

@media only screen and (min-width: 800px) {
    .divIndex {
        .titulo {
            text-align: center;
            padding-top: 50px;
            font-size: 2.5rem;
        }
        .subtituloQuiro {
            text-align: center;
            padding: 20px;
            letter-spacing: 10px;
            padding-bottom: 4rem;
        }
        .parrafoConsulta {
            text-align: center;
            text-decoration: none;
        }
    }
    .sectionNosotros {
        .subtituloNosotros{
            text-align: center;
            padding: 10px;
            font-size: 2.3rem;
        }
        .parrafoQuiro {
            font-size: 1.2rem;
            padding-top: 1px;
        }
        .leerMas {
            text-align: center;
            padding-top: 20px;
        }
        .divHijo2 {
            padding-top: 80px;
            text-align: center;
            img {
                width: 70%;
    
            }
        }
    }
    .parrafoNosotros2 {
        .subtituloNosotrosQ{
            text-align: center;
            padding: 10px;
            font-size: 2.3rem;
        }
    }
    .li1, .li2,.li3,.li4 {
        font-size: 1rem;
    }

    .imagenSalas {
        img {
            width: 50%;
            border: none;
        }
        .linkSalas {
            font-size: 1rem;
        }
    }
   
}
//media querie desktop
/*media querie desktop*/ 

@media only screen and (min-width: 1024px) {

    .divIndex .titulo {
        font-size: 3rem;
        padding-top: 1rem;
    }
    .sectionNosotros {
        .subtituloNosotros{
            font-size: 2.3rem;
        }
        .parrafoQuiro {
            font-size: 1.3rem;
            padding-top: 1px;
        }
        .leerMas {
            text-align: center;
            padding-top: 20px;
            font-size: 1.3rem;
        }
        .parrafoNosotros2 {
            padding: 6rem;
        }
    }
    #ventajas .ventajasTitulo {
        font-size: 2.5rem;
    }
    .li1, .li2,.li3,.li4 {
        justify-self: center;
        padding: 30px 8px 6px 8px;
        list-style: none;
        font-size: 1.2rem;
       
    }
    .salasIndex {
        .imagenSalas {
            img {
                visibility: hidden;
            }
        }
        .linkSalas {
            font-size: 1rem;
        }
    
    }


}