
body {
    overflow-x: hidden;
}
//media querie mobile
/* grid mobile*/
.nosotrosGrid {
    display: grid;
    grid-template-areas: 
    "nosotros"
    "video"
    "objetivo"
    "vision"
    "mision";
    justify-content: center;

    .divHijoNosotros{
        grid-area: nosotros;
        margin: 2rem;
        .h2-nosotros {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 40px;
            font-size: 1.3rem;
            letter-spacing: 3px;
        }
        .parrafoQuiro2 {
            color:darkslategray;
            font-family: 'Roboto', sans-serif; 
            font-size: 18px;
            letter-spacing: 1px;
            text-align: justify;
            font-style: italic;
            padding-top: 1px;
        }  
    }
    .divImgNosotros {
        padding-top: 3rem;
        grid-area: video;
        text-align: center;
        .animate__animated{
            width: 70%;
        }
    }
    .divImgNosotros2, .divImgNosotros3 {
    visibility: hidden  ;
    }
    .objetivo {
        grid-area: objetivo;
        h4 {
            text-align: center;
            font-size: 1.6rem;
        }
        li {
            font-size: 1rem;
            text-align: justify;
            letter-spacing: 2px;
            text-align: center;
            padding:2rem;
           
        }
    }
    .vision {
        grid-area: vision;
        h4 {
            text-align: center;
            font-size: 1.6rem;
        }
        li {
            font-size: 1rem;
            text-align: justify;
            letter-spacing: 2px;
            text-align: center;
            padding: 2rem;
           
        }
    }
    .mision {
        grid-area: mision;
        h4 {
            text-align: center;
            font-size: 1.6rem;
        }
        li {
            font-size: 1rem;
            text-align: justify;
            letter-spacing: 2px;
            text-align: center;
            padding: 2rem;
           
        }
    }

}
//media querie tablet
/*media querie tablet*/

@media only screen and (min-width:800px) {
    .nosotrosGrid {
        display: grid;
        grid-template-areas: 
        "nosotros"
        "video"
        "objetivo"
        "vision"
        "mision";
        justify-content: center;
    
        .divHijoNosotros{
            grid-area: nosotros;
            margin: 2rem;
            .h2-nosotros {
                font-size: 2rem;
            }
            .parrafoQuiro2 {
                font-size: 1.4rem;
            }  
        }
        .divImgNosotros {
            padding-top: 3rem;
            grid-area: video;
            text-align: center;
            .animate__animated{
                width: 70%;
            }
        }
        .divImgNosotros2, .divImgNosotros3 {
        visibility: hidden  ;
        }
        .objetivo {
            grid-area: objetivo;
            h4 {
                font-size: 2rem;
            }
            li {
                font-size: 1.4rem;
            }
        }
        .vision {
            grid-area: vision;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            li {
                font-size: 1.4rem;         
            }
        }
        .mision {
            grid-area: mision;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            li {
                font-size: 1.4rem;        
            }
        }
    
    }



}    

//media querie desktop
/*media querie desktop*/

@media only screen and (min-width:1024px) {

    .nosotrosGrid {
        display: grid;
        grid-template-areas: 
        "nosotros nosotros nosotros "
        "foto1 foto1 foto1"
        "objetivo objetivo objetivo" ;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        .divHijoNosotros {
            grid-area: nosotros;
            align-content: left;
            .h2-nosotros{
                font-size: 3rem;
                padding-top: 2rem;
            }
            .parrafoQuiro2 {
                font-size: 1.3rem;
                padding: 4rem 10rem 4rem 10rem;
                color:darkslategray;
                font-size: 1.5rem;
                letter-spacing: 1px;
                text-align: justify;
            }
        }
        .divImgNosotros {
            grid-area: foto1;
            .animate__animated {
                width: 40%;
            } 
        }

        .objetivos {
            grid-area: objetivo;
            text-align: center;
        }
        .objetivo, .mision ,.vision {
            text-align: center;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            li {
                font-size: 1.3rem;
                text-align: justify;
                color:darkslategray;
            }
        }
        
    }

    

}