
body {
    overflow-x: hidden;
}
//media querie mobile
/* grid mobile*/
.nosotrosGrid {
    display: grid;
    grid-template-areas: 
    "nosotros"
    "video"
    "objetivo"
    "vision"
    "mision";
    justify-content: center;

    .divHijoNosotros{
        grid-area: nosotros;
        margin: 2rem;
        .h2-nosotros {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 40px;
            font-size: 2rem;
            letter-spacing: 3px;
        }
        .parrafoQuiro2 {
            font-size: 1.3rem;
            font-size: 1rem;
            padding: 3rem;
            border: solid black;
        }
            
        
        
    }
    .divImgNosotros {
        padding-top: 3rem;
        grid-area: video;
        text-align: center;
        .animate__animated{
            width: 20%;
        }
    }
    .divImg2nosotros, .divImg3nosotros {
    visibility: hidden  ;
    }
    .objetivo {
        grid-area: objetivo;
        h4 {
            text-align: center;
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
            text-align: justify;
            color:darkslategray;
            letter-spacing: 2px;
            text-align: center;
            padding-left: 1rem;
            border: solid black;
        }
    }
    .vision {
        grid-area: vision;
        h4 {
            text-align: center;
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
            text-align: justify;
            color:darkslategray;
            font-family: 'Roboto', sans-serif; 
            letter-spacing: 2px;
            text-align: center;
            padding: 1rem;
        }
    }
    .mision {
        grid-area: mision;
        h4 {
            text-align: center;
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
            text-align: justify;
            color:darkslategray;
            font-family: 'Roboto', sans-serif; 
            letter-spacing: 2px;
            text-align: center;
            padding: 1rem;
        }
    }

}


//media querie desktop
/*media querie desktop*/

@media only screen and (min-width:1024px) {

    .nosotrosGrid {
        display: grid;
        grid-template-areas: "nosotros nosotros "
                             "objetivo foto1 "
                             "mision foto2"
                             "vision foto3" ;
        background-color: #d5f3f9;
        justify-content: left;
        .divHijoNosotros {
            grid-area: nosotros;
            .h2-nosotros{
                font-size: 3rem;
                padding-top: 2rem;
            }
            .parrafoQuiro2 {
                font-size: 1.3rem;
                padding: 4rem 10rem 4rem 10rem;
            }
        }
        .divImgNosotros {
            grid-area: foto1;
            padding-bottom: 3rem;
            .animate__animated {
                border-radius: 59px 59px 59px 59px;
                -moz-border-radius: 59px 59px 59px 59px;
                -webkit-border-radius: 59px 59px 59px 59px;
                border: 0px solid #000000;
                width: 70%;
            } 
        }
        .divImg2nosotros {
            grid-area: foto2;
            visibility: visible;
            padding-bottom: 3rem;
            .animate__animated {
                border-radius: 59px 59px 59px 59px;
                -moz-border-radius: 59px 59px 59px 59px;
                -webkit-border-radius: 59px 59px 59px 59px;
                border: 0px solid #000000;
                width: 70%;
            } 
        }
        .divImg3nosotros {
            grid-area: foto3;
            visibility: visible;
            padding-bottom: 3rem;
            .animate__animated {
                border-radius: 59px 59px 59px 59px;
                -moz-border-radius: 59px 59px 59px 59px;
                -webkit-border-radius: 59px 59px 59px 59px;
                border: 0px solid #000000;
                width: 70%;
            } 

        }
        .mision, .vision, .objetivo {
            justify-self: center;
            padding: 5rem;
            
         }
        .objetivo {
            grid-area: objetivo;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            p {
                font-size: 1.3rem;
                text-align: justify;
                color:darkslategray;
                font-family: 'Roboto', sans-serif; 
                letter-spacing: 2px;
                text-align: justify;
                font-style: italic;
                padding: 1rem;
            }
        }

        .mision {
            grid-area: mision;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            p {
                font-size: 1.3rem;
                text-align: justify;
                color:darkslategray;
                font-family: 'Roboto', sans-serif; 
                letter-spacing: 2px;
                text-align: justify;
                font-style: italic;
                padding: 1rem;
            }
        }
        .vision {
            grid-area: vision;
            h4 {
                text-align: center;
                font-size: 2rem;
            }
            p {
                font-size: 1.3rem;
                text-align: justify;
                color:darkslategray;
                font-family: 'Roboto', sans-serif; 
                letter-spacing: 2px;
                text-align: justify;
                font-style: italic;
                padding: 1rem;
            }
        }
        
    }

    

}